<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="Test" connectionString="Data Source=DESKTOP-E2B9EK8;Initial Catalog=IntorEntity;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="IntorEntityEntities" connectionString="metadata=res://*/ModelTest.csdl|res://*/ModelTest.ssdl|res://*/ModelTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E2B9EK8;initial catalog=IntorEntity;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>