@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Xanh+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}

/* ----------header items---------------------- */
header {
    background-color: rgb(182, 154, 209);
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
}
.logo span{
    font-family: Xanh-Mono;
    font-size: 35px;
    font-weight: 500;
    color: cornsilk;
}
.logo img{
    height: 45px;
    width: 80px;
    margin: auto 20px;
}
.list{
    margin: auto 0;
}
.list a{
    color: cornsilk;
    font-family: Lato, sans-serif;
    font-size: 26px;
    text-decoration: underline;
}

/* --------------------Menu content---------------------- */
table{
    margin: 90px auto;
    width: 80%;
}
table caption{
    font-family: Lato, sans-serif;
    font-size: 45px;
    float: left;
    margin-bottom: 25px;
}
table th{
    font-size: 25px;
}
tr>th{
    text-align: start;
}
tr>td{
    font-size: 24px;
}

/* -----------Footer---------------------------- */
footer{
    position: absolute;
    bottom: 0;
    font-family: Xanh-Mono;
    font-size: 30px;
    padding: 10px 20px;
    background-color: aqua;
    width: 100%;
    height: 60px;
}